body {
  background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png');
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  text-align: center;
  color: black;
  text-transform: capitalize;
}

li {
  padding: 5px;
}

.btn {
  background-color: #ffcb05;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


.pokemonstats {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
}

a {
  cursor: pointer;
}

/* using this to get rid of the bullets on the list */
.pokemon-list {
  list-style-type: none;
  text-align: center;
}
