body {
  background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png');
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  text-align: center;
  color: Yellow;
}

.pokemonstats {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
}

a {
  cursor: pointer;
}

.button-class {
 background-color: #ffcb05;
 border-radius: 15px;
 height: 60px;
 width: 250px;
 font-size: 30px;
}

/* using this to get rid of the bullets on the list */
.pokemon-list {
  list-style-type: none;
  text-align: center;
}
