body {
  background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png');
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  text-align: center;
  color: black;
}

.pokemonstats {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
}

a {
  cursor: pointer;
}

.button-class {
 background-color: #ffcb05;
 border-radius: 15px;
 height: 60px;
 width: 250px;
 font-size: 30px;
 font-family: 'Koulen', cursive;
}

/* using this to get rid of the bullets on the list */
.pokemon-list {
  list-style-type: none;
  text-align: center;
}

/* modal content */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #EEEEEE;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Koulen', cursive;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
  text-align: center;
}

.modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
